<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
	<appSettings>
		<add key="DailyLog" value="C:/Users/thefu/Documents/EasySave/EasySave/"/>
		<add key="CryptoSoftPath" value="D:/git/CryptoSoftMini/CryptoSoftMini/bin/Debug/netcoreapp2.1/win10-x64/CryptoSoftMini.exe"/>
		<add key="softwareBlacklist" value="C:/Users/thefu/Desktop/software_blacklist.json"/>
		<add key="ExtensionList" value="C:/Users/thefu/Desktop/crypt_extension.json"/>
		<add key="LanguageDict" value="C:/Users/thefu/Desktop/language.json"/>
	</appSettings>
</configuration>