<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="DailyLog" value="..\..\Logs\"/>
    <add key="CryptoSoftPath" value="..\..\Ressources\CryptoSoft\CryptoSoftMini.exe"/>
    <add key="softwareBlacklist" value="..\..\Ressources\software_blacklist.json"/>
    <add key="ExtensionList" value="..\..\Ressources\crypt_extension.json"/>
    <add key="PriorityList" value ="..\..\Ressources\priority_extension.json"/>
    <add key="LanguageDict" value ="..\..\Ressources\language.json"/>
    <add key="MaxSizeFile" value ="10000"/>
  </appSettings>
</configuration>