<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="DailyLog" value="D:\projet\c#\Ressource"/>
    <add key="CryptoSoftPath" value="D:\git\CryptoSoftMini\CryptoSoftMini\bin\Debug\netcoreapp2.1\win10-x64/CryptoSoftMini.exe"/>
    <add key="softwareBlacklist" value="D:\projet\c#\Ressource/software_blacklist.json"/>
    <add key="ExtensionList" value="D:\projet\c#\Ressource/crypt_extension.json"/>
    <add key="PriorityList" value ="D:\projet\c#\Ressource/priority_extension.json"/>
    <add key="MaxSizeFile" value ="10000"/>
  </appSettings>
</configuration>